<button class="account" (click)="openAccountModal()">
    <span #accountRef>
        <span class="material-symbols-outlined">
            menu
        </span>
        <span *ngIf="user; else noUser" class="account-icon">
            {{user.firstname | initials}}
        </span>
        <ng-template #noUser>
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </ng-template>
    </span>
    <modal [isModalOpen]="isAccountModalOpen" (closeModal)="closeAccountModal()" (openModal)="openAccountModal()"
        [classPosition]="buttonPosition">
        <div class="account-modal">
            @if(user){
            <a (mousedown)="tripHandler()">Trips</a>
            <a (mousedown)="logOutHandler($event)">Log out</a>
            } @else {
            <a (mousedown)="logInHandler()">Sign in</a>
            <a (mousedown)="signUpHandler()">Sign up</a>
            }
            <div class="divider-modal"></div>
            <a [href]="portfolioURL" target="_blank">Visit my portfolio !</a>
        </div>
    </modal>
</button>