.card {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    cursor: pointer;
}

.card-header {
    min-height: 300px;
    min-width: 300px;
    background-color: white;
    border-radius: var(--box-border-radius);
}

.card-body {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    padding: 5px;
    font-size: small;
    color: white;
}

.location-ratings {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.ratings {
    display: flex;
    align-items: center;
}

.ratings>span {
    scale: 0.7;
}