.card {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    cursor: pointer;
    gap: 5px;
}

.card-body-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: small;
    color: white;
}

.card-body {
    display: grid;
    gap: 5px;
}

.price {
    font-weight: bold;
}

.ratings>div {
    display: flex;
    align-items: center;
}

.ratings>div>span {
    scale: 0.7;
}

@media (min-width: 1501px) and (max-width: 2000px) and (orientation: landscape) {
    .card-header {
        height: 15dvw;
        width: 15dvw;
    }
}

@media (min-width: 901px) and (max-width: 1500px) and (orientation: landscape) {
    .card-header {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 900px) {
    .card-header {
        height: 45dvw;
        width: 45dvw;
    }
}

@media (max-width: 400px) {
    .card-header {
        height: 80dvw;
        width: 80dvw;
    }
}