<div class="card">
    <div class="card-header">
        <slider [imgsUrls]="imgsUrls"></slider>
    </div>
    <div class="card-body-wrapper">
        <span class="card-body">
            <div>
                <span>
                    {{city}}, {{kingdom}}
                </span>
                @if(distanceToOrigin){
                <div class="location-distance">
                    {{distanceToOrigin}} {{ distanceToOrigin | pluralize: 'kilometer'}} away
                </div>
                }
            </div>
            <div class="price">
                ${{pricePerNight}} night
            </div>
        </span>
        <span class="ratings">
            <div>
                {{ratings}}
                <span class="material-symbols-outlined">
                    star
                </span>
            </div>
        </span>
    </div>
</div>