<div #searchBarRef class="searchbar-wrapper">
    <div class="services-wrapper">
        <div class="services">
            @for (service of services; track $index) {
            <button [id]="servicesId[$index]" [class.service-selected]="$index === selectedService"
                (click)="selectService($index)">
                {{service | camelToSentence}}
            </button>
            }
        </div>
    </div>
    <div class="searchbar">
        <div class="location" (click)="focusLocationInput(locationInputRef)">
            <label>Where</label>
            <input #locationInputRef (input)="autocompletionOpenStatusHandler()" [(ngModel)]="locationInput"
                placeholder="Search destinations" />
        </div>
        <div class="divider"></div>
        <div class="checkin" (click)="openCalendar()">
            <label>Check in</label>
            <div class="checkin-date" [class.checkin-empty-date]="!startingDate"
                [class.checkin-filled-date]="startingDate">
                @if(!startingDate){
                Add dates
                } @else {
                {{startingDate | calendarDateFormat: "MMM dd"}}
                }
            </div>
        </div>
        <div class="divider"></div>
        <div class="checkout" (click)="openCalendar()">
            <label>Check out</label>
            <div class="checkout-date" [class.checkout-empty-date]="!endingDate"
                [class.checkout-filled-date]="endingDate">
                @if(!endingDate){
                Add dates
                } @else {
                {{endingDate | calendarDateFormat: "MMM dd"}}
                }
            </div>
        </div>
        <div class="divider"></div>
        <div class="guests" (click)="openGuests()">
            <label>Who</label>
            <div class="nb-of-guests" [class.no-guests]="!totalNbOfGuests" [class.some-guests]="totalNbOfGuests">
                @if (totalNbOfGuests > 0) {
                {{totalNbOfGuests}}
                {{totalNbOfGuests | pluralize: 'guest'}}
                } @else {
                Add guests
                }
            </div>
        </div>
        <button class="search-button" (click)="searchHandler()">
            <span class="material-symbols-outlined">
                search
            </span>
        </button>
    </div>
</div>
<modal [isModalOpen]="isAutocompletionOpen" [classPosition]="autocompletionPosition"
    (closeModal)="closeAutocompletion()" (openModal)="focusLocationInput(locationInputRef)">
    <div [ngClass]="autocompletionWrapperClass">
        <autocompletion [cityPart]="locationInput" (sendSuggestion)="getLocationSuggestion($event)"></autocompletion>
    </div>
</modal>
<modal [isModalOpen]="isCalendarOpen" [classPosition]="calendarPosition" (closeModal)="closeCalendar()"
    (openModal)="openCalendar()">
    <div [ngClass]="calendarWrapperClass">
        <calendar (sendStartingDate)="setStartingDate($event)" (sendEndingDate)="setEndingDate($event)"
            [initStartingDate]="startingDate" [initEndingDate]="endingDate" [mode]="'modal'" [theme]="'white'">
        </calendar>
    </div>
</modal>
<modal [isModalOpen]="isGuestsOpen" [classPosition]="guestsPosition" (closeModal)="closeGuests()"
    (openModal)="openGuests()">
    <div [ngClass]="guestsWrapperClass">
        <guests (getGuests)="getGuests($event)" [initGuests]="guests"></guests>
    </div>
</modal>