<div class="reservation-wrapper">
    <div class="reservation-informations">
        <div>
            @if(completeBill){
            ${{completeBill}} per night
            } @else {
            Add dates for prices
            }
        </div>
        <div>
            @if(startingDate){
            {{startingDate | calendarDateFormat: "MMM dd, yyyy"}} -
            }
            @if(endingDate){
            {{endingDate | calendarDateFormat:
            "MMM dd, yyyy"}}
            }
        </div>
    </div>
    <button class="button" (click)="openBillRoomForPhoneMode()">
        Reserve
    </button>
</div>

@if(isBillRoomForPhoneModeOpen){
<div *ngIf="isBillRoomForPhoneModeOpen" class="reservation-modal-wrapper">
    <div class="reservation-modal-header-and-body">
        <div class="reservation-modal-header">
            <button (click)="closeBillRoomForPhoneMode()" class="close-button">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>
        <div class="reservation-modal-body">
            @if(isCalendarModalOpen){
            <div class="reservation-box-opened">
                <div class="calendar-double">
                    <calendar (sendStartingDate)="getStartingDate($event)" (sendEndingDate)="getEndingDate($event)"
                        [initStartingDate]="startingDate" [initEndingDate]="endingDate" [type]="'modal'"
                        [theme]="'white'">
                    </calendar>
                </div>
                <div class="calendar-single">
                    <calendar (sendStartingDate)="getStartingDate($event)" (sendEndingDate)="getEndingDate($event)"
                        [initStartingDate]="startingDate" [initEndingDate]="endingDate" [type]="'modal'"
                        [mode]="'single'" [theme]="'white'">
                    </calendar>
                </div>
            </div>
            } @else {
            <div class="reservation-box-closed" (click)="openCalendar()">
                <div class="reservation-item">
                    <span>When</span>
                    <span>
                        @if(startingDate && endingDate){
                        {{startingDate | calendarDateFormat: "MMM dd"}} - {{endingDate | calendarDateFormat: "MMM dd"}}
                        } @else {
                        Add dates
                        }
                    </span>
                </div>
            </div>
            }
            @if(isGuestModalOpen){
            <div class="reservation-box-opened">
                <guests (getGuests)="getGuests($event)" [initGuests]="guests" [maximumNbOfGuests]="maximumNbOfGuests">
                </guests>
            </div>

            } @else {
            <div class="reservation-box-closed" (click)="openGuestsModal()">
                <div class="reservation-item">
                    <span>Who</span>
                    <span>
                        @if (nbOfGuests > 0) {
                        {{nbOfGuests}}
                        {{nbOfGuests | pluralize: 'guest'}}
                        } @else {
                        Add guests
                        }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="reservation-modal-footer">
        <button class="clear-all-button" (click)="clearAll()">
            Clear all
        </button>
        <button class="reservation-button" (click)="reserveButtonHandler()">
            <span>
                Reserve
            </span>
        </button>
    </div>
</div>
}