.host-card {
    cursor: pointer;
    background-color: white;
    border-radius: var(--box-border-radius);
    padding: 20px;
    color: black;
    width: calc(100% - 20px);
    display: grid;
    place-items: center;
}

.host-card>img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: pink;
}

.host-card>h1 {
    font-size: x-large;
}

@media (max-width: 1700px) {
    .host-card>h1 {
        font-size: large;
    }

    .host-card>div {
        font-size: small;
    }
}

@media (max-width: 1100px) {
    .host-card {
        padding: 10px;
    }

    .host-card>img {
        height: 70px;
        width: 70px;
    }
}