<ng-template #amenityItem let-item="item" let-notIncluded="notIncluded">
    <div class="room-amenity">
        <span class="material-symbols-outlined">
            {{item.icon}}
        </span>
        <span [class.amenity-not-included]="notIncluded">
            {{item.amenity | camelToSentence}}
        </span>
    </div>
    <div class="modal-divider"></div>
</ng-template>

<section>
    <desktop-navbar></desktop-navbar>
    <div class="page-body-wrapper page-padding-with-searchbar">
        <div class="page-room-body">
            <section>
                <h1 class="room-title">
                    {{stay.name}}
                </h1>
                <div class="room-picture">
                    <images-viewer [imgsUrls]="stay.imgsUrls"></images-viewer>
                </div>
            </section>
            <div class="room-information">
                <section>
                    <div class="room-summary">
                        <div>
                            <h2 class="room-sub-title">
                                Inn's bedroom in {{stay.location.city}}, {{stay.location.kingdom}}
                            </h2>
                        </div>
                        <div class="room-properties">
                            {{stay.maxNumberOfGuests}} {{stay.maxNumberOfGuests | pluralize: 'guest'}} ·
                            {{stay.lodging.nbBedrooms}} {{stay.lodging.nbBedrooms | pluralize: 'bedroom'}} ·
                            {{stay.lodging.nbBeds}} {{stay.lodging.nbBeds | pluralize: 'bed'}} ·
                            {{stay.lodging.nbBaths}} {{stay.lodging.nbBaths | pluralize: 'bath'}}
                        </div>
                    </div>
                    <div class="room-divider"></div>
                    <div class="room-about">
                        <h2 class="room-sub-title">
                            About this place
                        </h2>
                        <div>
                            {{stay.about.context}}
                        </div>
                        <h2 class="room-sub-title">
                            The place
                        </h2>
                        <div>
                            {{stay.about.theSpace}}
                        </div>
                        @if(stay.about.note){
                        <h2 class="room-sub-title">
                            Note
                        </h2>
                        <div>
                            {{stay.about.note}}
                        </div>
                        }
                    </div>
                    <div class="room-divider"></div>
                    @if(stay.amenities){
                    <div class="room-amenities">
                        <h2 class="room-sub-title">
                            Amenities
                        </h2>
                        <div class="room-amenities-items">
                            <div class="room-amenities-items-summary">
                                @for (item of amenitiesSummary; track $index) {
                                <div class="room-amenity">
                                    <span class="material-symbols-outlined">
                                        {{item.icon}}
                                    </span>
                                    <span>
                                        {{item.amenity | negation:item.included | camelToSentence}}
                                    </span>
                                </div>
                                }
                            </div>
                            @if(totalNbOfAmenities>5 || isThereNotIncludedAmenities){
                            <button class="button" (click)="openAmenitiesModal()">
                                Show all {{totalNbOfAmenities}} amenities
                            </button>
                            }
                        </div>
                    </div>
                    <div class="room-divider"></div>
                    }
                    <div>
                        <h2 class="room-sub-title">
                            @if(nbDays){
                            {{nbDays}} {{nbDays | pluralize: 'night'}} in
                            {{stay.location.city}},{{stay.location.kingdom}}
                            } @else {
                            Select check-in date
                            }
                        </h2>
                        <h3 class="room-sub-sub-title">
                            @if(nbDays){
                            {{startingDate | calendarDateFormat: "MMM dd, yyyy"}}
                            -
                            {{endingDate | calendarDateFormat: "MMM dd, yyyy"}}
                            } @else {
                            Add your travel dates for exact pricing
                            }
                        </h3>
                        <div class="calendar-double">
                            <calendar [type]="'normal'" [mode]="'double'" [theme]="'red'"
                                [initStartingDate]="startingDate" [initEndingDate]="endingDate"
                                (sendStartingDate)="getStartingDate($event, true)"
                                (sendEndingDate)="getEndingDate($event, true)"></calendar>
                        </div>
                        <div class="calendar-single">
                            <calendar [type]="'modal'" [mode]="'single'" [theme]="'red'"
                                [initStartingDate]="startingDate" [initEndingDate]="endingDate"
                                (sendStartingDate)="getStartingDate($event, true)"
                                (sendEndingDate)="getEndingDate($event, true)"></calendar>
                        </div>
                    </div>
                </section>
                <section class="bill-on-rails">
                    <div class="bill-room-wrapper">
                        <bill-room></bill-room>
                    </div>
                </section>
            </div>
            <div class="room-divider"></div>
            <div class="room-map">
                <div class="room-map-header">
                    <h2 class="room-sub-title">
                        Where you’ll be
                    </h2>
                    <p>
                        {{stay.location.city}}, {{stay.location.kingdom}}
                    </p>
                </div>
                <div class="room-map-body">
                    <app-map [zoom]="2" [coordinates]="stay.location.coordinates"></app-map>
                </div>
                <div class="room-divider"></div>
            </div>
            <host-room [host]="host"></host-room>
            <div class="room-divider"></div>
            <guidebook-room [guidebook]="stay.guidebook" [maxNumberOfGuests]="stay.maxNumberOfGuests"
                [startingDate]="startingDate" [endingDate]="endingDate"></guidebook-room>
        </div>
    </div>
    <app-footer></app-footer>
</section>

<full-view-modal [isModalOpen]="isAmenitiesModalOpen" (closeModal)="closeAmenitiesModal()"
    (openModal)="openAmenitiesModal()">
    <div class="full-view-modal-body">
        <h1>
            Amenities
        </h1>
        @if (amenities.Bathroom) {
        <h2>
            Bathroom
        </h2>
        @for (item of amenities.Bathroom; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if (amenities.Bedroom) {
        <h2>
            Bedroom
        </h2>
        @for (item of amenities.Bedroom; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if (amenities.Entertainment) {
        <h2>
            Entertainment
        </h2>
        @for (item of amenities.Bedroom; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if (amenities.HeatingAndCooling) {
        <h2>
            Heating and cooling
        </h2>
        @for (item of amenities.HeatingAndCooling; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if (amenities.Dining) {
        <h2>
            Dining
        </h2>
        @for (item of amenities.Dining; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if(amenities.Services){
        <h2>
            Services
        </h2>
        @for (item of amenities.Services; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if(amenities.PrivacyAndSafety){
        <h2>
            Privacy and safety
        </h2>
        @for (item of amenities.PrivacyAndSafety; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item}"></ng-container>
        }
        }
        @if(amenities.NotIncluded){
        <h2>
            Not included
        </h2>
        @for (item of amenities.NotIncluded; track $index) {
        <ng-container *ngTemplateOutlet="amenityItem; context:{item: item, notIncluded: true}"></ng-container>
        }
        }
    </div>
</full-view-modal>

<phone-bill-room></phone-bill-room>