.room-divider {
    display: grid;
    border-top: 1px white solid;
    height: 1px;
    width: auto;
    margin: 30px 0px;
}

.room-information {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.room-properties {
    color: white;
}

.room-about {
    color: white;
}

.room-about>div {
    padding: 20px 0px;
}

.room-title,
.room-sub-title,
.room-sub-sub-title {
    color: white;
}

.room-title {
    font-size: 40px;
}

.room-sub-title {
    font-size: x-large;
}

.room-sub-sub-title {
    font-size: 15px;
    font-weight: normal;
}

.room-amenities-items-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0px;
    color: white;
}

.room-amenity {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 10px;
    align-items: center;
}

.amenities-modal {
    padding: var(--fullview-modal-padding);
    width: var(--fullview-modal-width);
}

.amenities-modal>h1 {
    padding: 30px 0px;
    font-size: x-large;
}

.amenities-modal>h2 {
    padding: 20px 0px;
    font-size: large;
}

.amenities-modal>button {
    border: none;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.amenities-modal>button:hover {
    background-color: var(--background-box-hover);
}

.modal-divider {
    display: grid;
    border-top: 1px var(--black-300) solid;
    height: 1px;
    margin: 30px 0px;
}

.amenity-not-included {
    text-decoration: line-through;
}

.bill-on-rails {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.room-map {
    color: white;
}

.room-map-header {
    margin-bottom: 20px;
}

.room-map-body {
    height: 400px;
    z-index: 0;
    position: relative;
}