.room-divider {
    display: grid;
    border-top: 1px white solid;
    height: 1px;
    width: auto;
    margin: 30px 0px;
}

.room-information {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.room-properties {
    color: white;
}

.room-about {
    color: white;
}

.room-about>div {
    padding: 20px 0px;
}

.room-title,
.room-sub-title,
.room-sub-sub-title {
    color: white;
}

.room-title {
    font-size: 40px;
}

.room-sub-title {
    font-size: x-large;
}

.room-sub-sub-title {
    font-size: 15px;
    font-weight: normal;
}

.room-amenities-items-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0px;
    color: white;
}

.room-amenity {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 10px;
    align-items: center;
}

.amenities-modal {
    padding: var(--fullview-modal-padding);
    width: var(--fullview-modal-width);
}

.amenities-modal>h1 {
    padding: 30px 0px;
    font-size: x-large;
}

.amenities-modal>h2 {
    padding: 20px 0px;
    font-size: large;
}

.amenities-modal>button {
    border: none;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.amenities-modal>button:hover {
    background-color: var(--background-box-hover);
}

.amenity-not-included {
    text-decoration: line-through;
}

.bill-on-rails {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.room-map {
    color: white;
}

.room-map-header {
    margin-bottom: 20px;
}

.room-map-body {
    height: 500px;
    z-index: 0;
    position: relative;
}

.bill-room-wrapper {
    position: sticky;
    top: 150px;
    height: min-content;
}

.page-room-body {
    width: 60%;
}

@media (min-width: 1601px) and (max-width: 1760px) {
    .page-room-body {
        width: 70%;
        margin-top: 20px;
    }
}

@media (min-width: 1501px) and (max-width: 1600px) {
    .page-room-body {
        width: 75%;
        margin-top: 20px;
    }
}

@media (min-width: 1401px) and (max-width: 1500px) {
    .page-room-body {
        width: 80%;
        margin-top: 20px;
    }
}

@media (min-width: 1301px) and (max-width: 1400px) {
    .page-room-body {
        width: 85%;
        margin-top: 20px;
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
    .room-information {
        grid-template-columns: 2fr 3fr;
    }

    .page-room-body {
        width: 85%;
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {
    .room-information {
        grid-template-columns: 2fr 3fr;
    }

    .page-room-body {
        width: 95%;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    .page-room-body {
        margin-top: 0px;
    }

    .bill-on-rails {
        display: none;
    }

    .room-title {
        padding-bottom: 10px;
    }

    .room-information {
        grid-template-columns: auto;
    }

    .room-divider {
        margin: 15px 0px;
    }
}