.host-section {
    color: white;
    display: grid;
    gap: 20px;
}

.host-body {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 30px;
}

.host-card {
    cursor: pointer;
    background-color: white;
    border-radius: var(--box-border-radius);
    padding: 20px;
    color: black;
    width: max-content;
    min-width: 17dvw;
    display: grid;
    place-items: center;
}

.host-card>img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: pink;
}

.host-card>h1 {
    font-size: x-large;
}

.host-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.host-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.host-warning {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
}