<div class="credentials">
    <div class="credentials-header">
        <div>
            Sign up
        </div>
    </div>
    <div class="credentials-divider"></div>
    <div class="credentials-body">
        <form [formGroup]="form">
            <h1>Welcome to BookInn</h1>
            <animated-input [label]="'E-mail'" formControlName="email"
                [hasError]="form.controls.email.touched && (form.controls.email.errors?.['required'] || form.controls.email.errors?.['email'])"></animated-input>
            @if (form.controls.email.touched && form.controls.email.errors?.['required']) {
            <small>Email is required.</small>
            }
            @if (form.controls.email.touched && form.controls.email.errors?.['email']) {
            <small>Invalid email format.</small>
            }
            <animated-input [label]="'Password'" formControlName="password"
                [hasError]="form.controls.password.touched && (
                    form.controls.password.errors?.['required']
                    || form.controls.password.errors?.['isStrengthGood']
                    || form.controls.password.errors?.['minlength']
                    || form.controls.password.errors?.['atLeastOneUpperCaseCharacterAndOneLowerCaseCharacterAndOneNumber'])" [type]="'password'"></animated-input>
            @if (form.controls.password.touched
            && (form.controls.password.errors?.['required']
            || form.controls.password.errors?.['isStrengthGood']
            || form.controls.password.errors?.['minlength']
            || form.controls.password.errors?.['atLeastOneUpperCaseCharacterAndOneLowerCaseCharacterAndOneNumber'])) {
            <div class="errors-list">
                @if (form.controls.password.touched && form.controls.password.errors?.['required']) {
                <small>Password is required.</small>
                }
                @if (form.controls.password.touched && form.controls.password.errors?.['isStrengthGood']) {
                <small>Password strength: weak.</small>
                }
                @if (form.controls.password.touched && form.controls.password.errors?.['minlength']) {
                <small>At least {{minPasswordLength}} characters.</small>
                }
                @if (form.controls.password.touched &&
                form.controls.password.errors?.['atLeastOneUpperCaseCharacterAndOneLowerCaseCharacterAndOneNumber']) {
                <small>Contains at least a number, a upper case character and a lower case character.</small>
                }
            </div>
            }
            <animated-input [label]="'First name'" formControlName="firstname"
                [hasError]="form.controls.firstname.touched && form.controls.firstname.errors?.['required']"></animated-input>
            @if (form.controls.firstname.touched && form.controls.firstname.errors?.['required']) {
            <small>First name is required.</small>
            }
            <animated-input [label]="'Last name'" formControlName="lastname"
                [hasError]="form.controls.lastname.touched && form.controls.lastname.errors?.['required']"></animated-input>
            @if (form.controls.lastname.touched && form.controls.lastname.errors?.['required']) {
            <small>Last name is required.</small>
            }
            <button class="button" (click)="signUpHandler()">Create account</button>
        </form>
    </div>
</div>