<div class="credentials">
    <div class="credentials-header">
        <div>
            Log in
        </div>
    </div>
    <div class="credentials-divider"></div>
    <div class="credentials-body">
        <form [formGroup]="form">
            <h1>Welcome to BookInn</h1>
            <animated-input [label]="'E-mail'" formControlName="email"
                [hasError]="form.controls.email.touched && (form.controls.email.errors?.['required'] || form.controls.email.errors?.['email'])"></animated-input>
            @if (form.controls.email.touched && form.controls.email.errors?.['required']) {
            <small>Email is required.</small>
            }
            @if (form.controls.email.touched && form.controls.email.errors?.['email']) {
            <small>Invalid email format.</small>
            }
            <animated-input [label]="'Password'" formControlName="password"
                [hasError]="form.controls.password.touched && form.controls.password.errors?.['required']"
                [type]="'password'"></animated-input>
            @if (form.controls.password.touched && form.controls.password.errors?.['required']) {
            <small>Password is required.</small>
            }
            <button class="button" (click)="logInHandler()">Continue</button>
            @if (areWrongCrendentials) {
            <small>Wrong credentials.</small>
            }
        </form>
    </div>
</div>