<section id="section1">
    <div class="bookinn">
        <span class="b">
            <div class="b-bar"></div>
            <div>
                <div class="b-small-circle"></div>
                <div class="b-big-circle"></div>
            </div>
        </span>
        <span class="ookinn">
            <span class="o1">o</span>
            <span class="o2">o</span>
            <span class="k">k</span>
            <span class="I">I</span>
            <span class="n1">n</span>
            <span class="n2">n</span>
        </span>
    </div>
    <div class="pitch">
        <h1>The world is your home.</h1>
        <p>Visit the world of AAAA, a far away mystical land filled with adventure.
            Rent a carriage, an inn's room and visit the beautiful landscape !</p>
    </div>
    <div class="author">
        <h1>
            By Jean-Hanna SALEH
        </h1>
        <a class="portfolio-button" [href]="portfolioURL" target="_blank">
            Check out my portfolio !
        </a>
    </div>
    <div class="rain">
        <div id="drops1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="drops2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="drops3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="drops4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="drops5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="drops6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="drops7">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <button class="home-button">Scroll to see more</button>
</section>
<section id="section2">

</section>