.modal {
    position: fixed;
    background-color: white;
    color: var(--black-900);
    border: 1px var(--black-300) solid;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
    width: min-content;
    height: min-content;
}