.searchbar {
    display: flex;
    width: max-content;
    place-items: center;
    gap: 15px;
    height: 50px;
    background-color: white;
    border-radius: 150px;
    align-content: space-evenly;
    padding: 10px 10px 10px 30px;
}

.divider {
    width: 2px;
    height: calc(100% - 5px);
    background-color: var(--black-100);
}

.location,
.checkin,
.checkout,
.guests {
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}

.location>label,
.checkin>label,
.checkout>label,
.guests>label {
    font-size: small;
    cursor: pointer;
}

.location>input {
    border: none;
    font-size: large;
    outline: none;
}

.location>input::placeholder {
    border: none;
    font-size: medium;
    color: var(--black-400);
}

.checkin-date,
.checkout-date,
.guests>div {
    border: none;
    font-size: medium;
}

.checkin-date,
.checkout-date {
    width: 80px;
}

.checkin-empty-date,
.checkout-empty-date,
.no-guests {
    color: var(--black-300);
}

.checkin-filled-date,
.checkout-filled-date,
.some-guests {
    color: var(--black-900);
}

.nb-of-guests {
    min-width: 5.5rem;
}

.search {
    background-color: var(--background);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    font-size: medium;
}

.services-wrapper {
    display: flex;
    justify-content: center;
}

.services {
    padding: 15px;
    display: flex;
    gap: 1px;
    justify-items: center;
}

.services>button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: medium;
    width: max-content;
    padding: 5px 7px;
}

.services>button:hover {
    background-color: var(--crimson-400);
    border-radius: 20px;
}

#inns-service {
    width: 55px;
}

#carriages-service {
    min-width: 95px;
}

#monuments-service {
    min-width: 115px;
}

.service-selected {
    font-weight: bold;
}