<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div #searchBarRef class="searchbar-wrapper">
    <div class="services-wrapper">
        <div class="services">
            @for (service of services; track $index) {
            <button [id]="servicesId[$index]" [class.service-selected]="$index === selectedService"
                (click)="selectService($index)">
                {{service}}
            </button>
            }
        </div>
    </div>
    <div class="searchbar">
        <div class="location" (click)="focusLocationInput(refLocationInput)">
            <label>Where</label>
            <input #refLocationInput placeholder="Search destinations" />
        </div>
        <div class="divider"></div>
        <div class="checkin" (click)="openCalendar()">
            <label>Check in</label>
            <div class="checkin-date" [class.checkin-empty-date]="!startingDate"
                [class.checkin-filled-date]="startingDate">
                @if(!startingDate){
                Add dates
                } @else {
                {{startingDate.month+'-'+startingDate.day+'-'+startingDate.year| date: "MMM dd"}}
                }
            </div>
        </div>
        <div class="divider"></div>
        <div class="checkout" (click)="openCalendar()">
            <label>Check out</label>
            <div class="checkout-date" [class.checkout-empty-date]="!endingDate"
                [class.checkout-filled-date]="endingDate">
                @if(!endingDate){
                Add dates
                } @else {
                {{endingDate.month+'-'+endingDate.day+'-'+endingDate.year| date: "MMM dd"}}
                }
            </div>
        </div>
        <div class="divider"></div>
        <div class="guests">
            <label>Who</label>
            <div>Add guests</div>
        </div>
        <button class="search" (mouseenter)="showLabel()" (mouseleave)="hideLabel()">
            <span class="material-symbols-outlined">
                search
            </span>
            @if (displayLabel) {
            {{searchLabel}}
            }
        </button>
    </div>
</div>
<app-modal [isModalOpen]="isCalendarOpen" [classPosition]="calendarPosition" (closeModal)="closeCalendar()"
    (openModal)="openCalendar()">
    <div [ngClass]="calendarWrapperClass">
        <app-calendar (startingDate)="setStartingDate($event)" (endingDate)="setEndingDate($event)"
            [mode]="'modal'"></app-calendar>
    </div>
</app-modal>