.footer {
    padding: 20px 10px;
    background-color: var(--crimson-600);
    display: flex;
    gap: 15px;
    color: white;
    width: calc(100dvw - 10px);
    align-items: center;
}

.footer>a {
    text-decoration: none;
    color: inherit;
}

.footer>a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .footer {
        padding: 20px 5px;
        gap: 7px;
    }

    .footer>a {
        font-size: small;
        width: max-content;
    }
}