<div class="searchbar-wrapper" (click)="openSearchbar()">
    <div class="searchbar-icon">
        <span class="material-symbols-outlined">
            search
        </span>
    </div>
    <div class="searchbar-text">
        <div>
            Where to ?
        </div>
        <div>Anywhere · Any week · Add guests</div>
    </div>
</div>

@if(isSearchbarOpen){
<div class="searchbar-modal-wrapper">
    <div class="searchbar-modal-header-and-body">
        <div class="searchbar-modal-header">
            <button (click)="closeSearchBar()" class="close-button">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <div class="services">
                @for (service of services; track $index) {
                <button [id]="servicesId[$index]" [class.service-selected]="$index === selectedService"
                    (click)="selectService($index)">
                    {{service | camelToSentence}}
                </button>
                }
            </div>
        </div>
        <div class="searchbar-modal-body">
            @if(isLocationOpen){
            <div class="search-box-opened">
                <div class="location" (click)="focusLocationInput(locationInputRef)">
                    <h1>Where to ?</h1>
                    <input #locationInputRef (input)="autocompletionOpenStatusHandler()" [(ngModel)]="locationInput"
                        placeholder="Search destinations" />
                </div>
                <div (click)="stopProgationHandler($event)">
                    <autocompletion [cityPart]="locationInput" (sendSuggestion)="getLocationSuggestion($event)">
                    </autocompletion>
                </div>
            </div>
            } @else {
            <div class="search-box-closed" (click)="openLocation()">
                <div class="search-item">
                    <span>Where</span>
                    <span>
                        @if(locationInput && locationInput.length > 0){
                        {{locationInput}}
                        } @else {
                        Add a location
                        }
                    </span>
                </div>
            </div>
            }
            @if(isCalendarOpen){
            <div class="search-box-opened">
                <div class="calendar-double">
                    <calendar (sendStartingDate)="setStartingDate($event)" (sendEndingDate)="setEndingDate($event)"
                        [initStartingDate]="startingDate" [initEndingDate]="endingDate" [type]="'modal'"
                        [theme]="'white'">
                    </calendar>
                </div>
                <div class="calendar-single">
                    <calendar (sendStartingDate)="setStartingDate($event)" (sendEndingDate)="setEndingDate($event)"
                        [initStartingDate]="startingDate" [initEndingDate]="endingDate" [type]="'modal'"
                        [mode]="'single'" [theme]="'white'">
                    </calendar>
                </div>
            </div>
            } @else {
            <div class="search-box-closed" (click)="openCalendar()">
                <div class="search-item">
                    <span>When</span>
                    <span>
                        @if(startingDate && endingDate){
                        {{startingDate | calendarDateFormat: "MMM dd"}} - {{endingDate | calendarDateFormat: "MMM dd"}}
                        } @else {
                        Add dates
                        }
                    </span>
                </div>
            </div>
            }
            @if(isGuestsOpen){
            <div class="search-box-opened">
                <guests (getGuests)="getGuests($event)" [initGuests]="guests"></guests>
            </div>
            } @else {
            <div class="search-box-closed" (click)="openGuests()">
                <div class="search-item">
                    <span>Who</span>
                    <span>
                        @if (totalNbOfGuests > 0) {
                        {{totalNbOfGuests}}
                        {{totalNbOfGuests | pluralize: 'guest'}}
                        } @else {
                        Add guests
                        }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="searchbar-modal-footer">
        <button class="clear-all-button" (click)="clearAll()">
            Clear all
        </button>
        <button class="search-button" (click)="searchHandler()">
            <span class="material-symbols-outlined">
                search
            </span>
            <span>
                Search
            </span>
        </button>
    </div>
</div>
}