<section id="room">
    <app-navbar></app-navbar>
    <div class="room-body-wrapper">
        <div class="room-body">
            <section>
                <h1 class="room-title">
                    {{inn.name}}
                </h1>
                <div class="room-picture">
                    <app-images-viewer [imgsUrls]="inn.imgsUrls"></app-images-viewer>
                </div>
            </section>
            <section>
                <div class="room-summary">
                    <div>
                        <h2 class="room-sub-title">
                            Inn's bedroom in {{inn.city}}, {{inn.state}}
                        </h2>
                    </div>
                    <div class="room-properties">
                        {{inn.lodging.maxNumberOfGuests}} guests · {{inn.lodging.nbBedrooms}} bedroom ·
                        {{inn.lodging.nbBeds}} bed · {{inn.lodging.nbBaths}} baths
                    </div>
                </div>
                <div class="room-divider"></div>
                <div class="room-amenities">
                    <h2 class="room-sub-title">
                        Amenities
                    </h2>
                    <div class="room-amenities-items">
                        <div class="room-amenities-items-summary">
                            @for (item of amenitiesSummary; track $index) {
                            <div class="room-amenity">
                                <span class="material-symbols-outlined">
                                    {{item.icon}}
                                </span>
                                {{item.amenity}}
                            </div>
                            }
                        </div>
                        @if(totalNbOfAmenities>5){
                        <button class="room-button">
                            Show all {{totalNbOfAmenities}} amenities
                        </button>
                        }
                    </div>
                </div>
                <div class="room-divider"></div>
                <div>
                    <h2 class="room-sub-title">
                        @if(nbDays){
                        {{nbDays}} nights in {{inn.city}},{{inn.state}}
                        } @else {
                        Select check-in date
                        }
                    </h2>
                    <h3 class="room-sub-sub-title">
                        @if(nbDays){
                        {{startingDate?.month+'-'+startingDate?.day+'-'+startingDate?.year | date: "MMM dd, yyyy"}} -
                        {{endingDate?.month+'-'+endingDate?.day+'-'+endingDate?.year | date: "MMM dd, yyyy"}}
                        } @else {
                        Add your travel dates for exact pricing
                        }
                    </h3>
                    <app-calendar [mode]="'normal'" [theme]="'red'" (startingDate)="getStartingDate($event)"
                        (endingDate)="getEndingDate($event)"></app-calendar>
                </div>
            </section>
        </div>
    </div>
    <app-footer></app-footer>
</section>