.room-divider {
    display: grid;
    border-top: 1px white solid;
    height: 1px;
    margin: 30px 0px;
}

.room-body-wrapper {
    padding-top: 160px;
    width: 100dvw;
    display: grid;
    justify-items: center;
}

.room-body {
    width: 60%;
}

.room-properties {
    color: white;
}

.room-about {
    color: white;
}

.room-about>div {
    padding: 20px 0px;
}

.room-title,
.room-sub-title,
.room-sub-sub-title {
    color: white;
}

.room-title {
    font-size: 40px;
}

.room-sub-title {
    font-size: x-large;
}

.room-sub-sub-title {
    font-size: 15px;
    font-weight: normal;
}

.room-button {
    border-radius: var(--button-border-radius);
    background-color: transparent;
    border: 1px white solid;
    padding: 10px 20px;
    color: white;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s;
}

.room-button:active {
    transform: scale(0.95);
}

.room-amenities-items-summary {
    display: grid;
    grid-template-columns: repeat(2, 10dvw);
    gap: 10px;
    margin: 20px 0px;
    color: white;
}

.room-amenity {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 10px;
    align-items: center;
}

.amenities-modal {
    padding: 20px;
    width: 40dvw;
}

.amenities-modal>h1 {
    padding: 30px 0px;
    font-size: x-large;
}

.amenities-modal>h2 {
    padding: 20px 0px;
    font-size: large;
}

.amenities-modal>button {
    border: none;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.amenities-modal>button:hover {
    background-color: var(--background-box-hover);
}

.modal-divider {
    display: grid;
    border-top: 1px var(--black-300) solid;
    height: 1px;
    margin: 30px 0px;
}

.amenity-not-included {
    text-decoration: line-through;
}