<section class="bill">
    <div class="bill-base-price">
        @if(startingDate && endingDate){
        @if(nbOfGuests > 0){
        <b>${{pricePerNight}}</b> night
        } @else {
        Add guests
        }
        } @else {
        Add dates for prices
        }
    </div>
    <div class="bill-selection">
        <div #calendarSelectionRef class="bill-dates" (click)="openCalendar()">
            <span class="bill-check-in-selected">
                <div>
                    CHECK IN
                </div>
                <div [class.bill-check-in-empty-date]="!startingDate">
                    @if (startingDate) {
                    {{startingDate | calendarDateFormat: "MM/dd/yyyy"}}
                    }@else {
                    Add date
                    }
                </div>
            </span>
            <span class="bill-dates-divider"></span>
            <span class="bill-check-out-selected">
                <div>
                    CHECK OUT
                </div>
                <div [class.bill-check-out-empty-date]="!endingDate">
                    @if(endingDate){
                    {{endingDate | calendarDateFormat: "MM/dd/yyyy"}}
                    } @else {
                    Add date
                    }
                </div>
            </span>
            @if(isCalendarOpen){
            <div class="bill-calendar">
                <div class="bill-calendar-header">
                    <div class="bill-summary-selected-dates">
                        @if (!startingDate || !endingDate) {
                        <h1>
                            Select dates
                        </h1>
                        } @else {
                        <h1>
                            {{nbOfNights}} {{nbOfNights | pluralize: 'night'}}
                        </h1>
                        <div>{{startingDate | calendarDateFormat: "MMM dd, yyyy"}} - {{endingDate | calendarDateFormat:
                            "MMM dd, yyyy"}}</div>
                        }
                    </div>
                    <div class="bill-date-selection">
                        <date-input [focusOnInit]="true" [borderRadius]="'left'" [label]="'CHECK IN'"
                            [date]="startingDate" [maxDate]="endingDate"
                            (sendDate)="getStartingDate($event)"></date-input>
                        <date-input [borderRadius]="'right'" [label]="'CHECK OUT'" [date]="endingDate"
                            [minDate]="startingDate" (sendDate)="getEndingDate($event)"></date-input>
                    </div>
                </div>
                <calendar [initStartingDate]="startingDate" [initEndingDate]="endingDate" [mode]="'modal'"
                    (sendEndingDate)="getEndingDate($event)" (sendStartingDate)="getStartingDate($event)"
                    [theme]="'white'"></calendar>
            </div>
            }
        </div>
        <div #billGuestsSelection class="bill-guests-wrapper">
            <div class="bill-guests" (click)="openGuestsModal()">
                <div class="bill-guest-selected">
                    <div>
                        GUESTS
                    </div>
                    <div>
                        {{nbOfGuests}} {{nbOfGuests | pluralize: 'guest'}}
                    </div>
                </div>
            </div>
            <div [hidden]="!isGuestsModalOpen" [ngClass]="guestsModalWrapper">
                <guests [maximumNbOfGuests]="maximumNbOfGuests" (getGuests)="getGuests($event)"
                    [initGuests]="initGuests"></guests>
            </div>
        </div>
    </div>
    <button #reservationButtonRef class="bill-button" (click)="reserveButtonHandler()">
        @if(startingDate && endingDate && nbOfGuests > 0){
        Reserve
        }@else {
        Check availability
        }
    </button>
    @if(startingDate && endingDate && nbOfGuests > 0){
    <p><i>You won't be charged yet.</i></p>
    <div class="bill-summary-wrapper">
        <div class="bill-summary">
            <div class="price-detail">
                <span>
                    ${{pricePerNight}}x{{nbOfNights}}
                </span>
                <span>
                    ${{completeBillWithoutCharges}}
                </span>
            </div>
            @if(cleaningFee){
            <div class="price-detail">
                <span>
                    Cleaning fee
                </span>
                <span>
                    ${{cleaningFee}}
                </span>
            </div>
            }
            <div class="price-detail">
                <span>
                    BookInn fee
                </span>
                <span>
                    ${{bookInnFee | number: '1.0-0'}}
                </span>
            </div>
            <div class="price-detail">
                <span>
                    Taxes
                </span>
                <span>
                    ${{VAT | number: '1.0-0'}}
                </span>
            </div>
        </div>
        <div class="bill-divider"></div>
        <div class="bill-total">
            <span><b>Total</b></span>
            <span><b>$ {{completeBill}}</b></span>
        </div>
    </div>
    }
</section>