.bill-base-price {
    font-size: x-large;
    margin-bottom: 30px;
}

.bill-selection {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: 1px var(--black-300) solid;
    border-radius: var(--box-border-radius);
}

.bill-check-in-selected,
.bill-check-out-selected,
.bill-guest-selected {
    padding: 7px;
    cursor: pointer;
    user-select: none;

    :first-child {
        font-size: small;
        font-weight: bold;
    }
}

.bill-check-in-empty-date,
.bill-check-out-empty-date {
    color: var(--black-300)
}

.bill-guests-wrapper {
    position: relative;
}

.bill-guests {
    border-top: 1px var(--black-300) solid;
}

.bill-calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bill-summary-selected-dates>h1 {
    font-size: x-large;
    font-weight: 400;
}

.bill-dates,
.bill-selected-dates {
    display: grid;
    grid-template-columns: auto 1px auto;
    position: relative;
}

.bill-date-selection {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    height: min-content;
    width: min-content;
    border-radius: var(--button-border-radius);
}

.bill-calendar {
    position: absolute;
    top: -20px;
    right: -21px;
    padding: var(--fullview-modal-padding);
    z-index: 1;
    background-color: white;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
}

.bill-dates-divider {
    width: 1px;
    height: 100%;
    background-color: var(--black-300);
}

button {
    padding: 12px 15px;
    border: none;
    border-radius: var(--button-border-radius);
    width: 100%;
    cursor: pointer;
    background-color: var(--crimson-400);
    color: white;
    font-size: medium;
    transition: 0.2s all;
}

button:active {
    transform: scale(0.95);
}

p {
    width: 100%;
    text-align: center;
}