<nav class="desktop-navbar-wrapper" [ngClass]="maximizedClass">
    <div class="desktop-navbar">
        <app-logo></app-logo>
        @if(!hideSearchbar){
        <desktop-searchbar [startingModeState]="startingModeState" [startingState]="searchbarStartingState"
            (sendSearchbarStatus)="getSearchbarStatus($event)" [searchbarStatus]="isSearchbarOpen"
            [initGuests]="searchbarStartingState?.guests"></desktop-searchbar>
        }
        <account></account>
    </div>
    <div class="desktop-navbar-background" (click)="closeSearchBar()">
    </div>
</nav>

<nav class="phone-navbar-wrapper">
    <div class="phone-navbar">
        <phone-searchbar [startingState]="searchbarStartingState" [initGuests]="searchbarStartingState?.guests">
        </phone-searchbar>
    </div>
</nav>