.navbar-wrapper {
    position: fixed;
    align-items: start;
    top: 0px;
    z-index: 9999;
    width: 100%;
    background-color: transparent;
    display: grid;
}

.navbar {
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    background-color: var(--background);
}

.navbar-background {
    height: 100%;
    width: 100dvw;
    background-color: var(--transparent-black);
}