nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 10px 50px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--crimson-500);
    z-index: 1;
}