<section id="images-viewer">
    <div [class.images-viewer-wrapper--for-5-images]="urls.length === 4"
        [class.images-viewer-wrapper--for-3-images]="urls.length === 2"
        [class.images-viewer-wrapper--for-2-images]="urls.length === 1"
        [class.images-viewer-wrapper--for-1-image]="urls.length === 0">
        <img [src]="firstUrl">
        <div [class.images-viewer--for-5-images]="urls.length === 4"
            [class.images-viewer--for-3-images]="urls.length === 2"
            [class.images-viewer--for-2-images]="urls.length === 1">
            @for (url of urls; track $index) {
            <img [src]="url">
            }
        </div>
    </div>
</section>