.search-page-body {
    width: 100dvw;
    display: grid;
    grid-template-columns: auto 40dvw;
    padding-top: 70px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.map-wrapper {
    height: calc(100dvh - var(--navbar-height));
    width: 40dvw;
}