<section class="page">
    <app-navbar [startingModeState]="'minimized'" [searchbarStartingState]="searchbarStartingState"></app-navbar>
    <div class="search-page-body">
        <div class="search-results">
            @for (result of staysSearchResults; track $index) {
            <a [routerLink]="['/room', result.id]" [queryParams]="{
                nbAdults: queryParamNbAdults,
                nbChildren: queryParamNbChildren,
                nbInfants: queryParamNbInfants,
                nbPets: queryParamNbPets,
                startDate: queryParamStartDate,
                endDate: queryParamEndDate
                }">
                <room-card [city]="result.location.city" [kingdom]="result.location.kingdom" [name]="result.name"
                    [pricePerNight]="result.billing.basePricePerNight" [ratings]="result.ratings"
                    [imgsUrls]="result.imgsUrls"></room-card>
            </a>
            }
        </div>
        <div class="map-wrapper">
            <app-map [zoom]="0" [coordinates]="coordinates" [displayAllCities]="true"></app-map>
        </div>
    </div>
    <app-footer></app-footer>
</section>