.fullview-modal-wrapper {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
}

.fullview-modal {
    overflow-y: auto;
    max-height: 80dvh;
    background-color: white;
    border-radius: var(--box-border-radius);
    border: 1px var(--black-300) solid;
    box-shadow: var(--box-shadow);
    width: min-content;
    height: min-content;
}