.home {
    background-color: var(--background);
    width: 100dvw;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow-x: auto;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 20px;
    background-color: var(--background);
}