section {
    height: 100dvh;
    width: 100dvw;
}

#home {
    background-color: var(--background);
    height: auto;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 20px;
    background-color: var(--background);
}