body {
    padding: 0px;
    margin: 0px;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--crimson-500);
    touch-action: pan-x pan-y;
}

* {
    padding: 0px;
    margin: 0px;
    scrollbar-width: none;
    touch-action: pan-x pan-y;
}

a {
    text-decoration: none;
}

:root {
    /*colors*/
    --crimson-900: #20070C;
    --crimson-800: #400E17;
    --crimson-700: #801C2E;
    --crimson-600: #A0233A;
    --crimson-500: #C02A45;
    --crimson-400: #E03151;
    --crimson-300: #FF385C;

    --black-900: #000000;
    --black-800: #101010;
    --black-700: #202020;
    --black-600: #404040;
    --black-500: #606060;
    --black-400: #808080;
    --black-300: #C0C0C0;
    --black-200: #C0C0C0;
    --black-100: #E0E0E0;
    --black-50: #F0F0F0;


    /*element colors*/
    --background: var(--crimson-500);
    --text-color: white;
    --bold-text-color: var(--crimson-800);
    --background-box-hover: #f5f5f5;
    --error-color: var(--crimson-300);
    --transparent-black: rgba(0, 0, 0, 0.18);

    /*size*/
    --b-bar-size: 200px;
    --b-bar-size-logo: 50px;
    --box-border-radius: 15px;
    --button-border-radius: 10px;
    --fullview-modal-width: 40dvw;
    --fullview-modal-padding: 20px;
    --box-padding: 20px;
    --navbar-height: 71px;
    --pagination-height: 45px;

    @media screen and (max-width: 899px) {
        --page-padding-with-searchbar: 100px;
        --page-padding-with-no-searchbar: 0px;
        --fullview-modal-width: 80dvw;
    }

    @media screen and (min-width: 900px) and (max-width: 1300px) {
        --fullview-modal-width: 60dvw;
    }

    @media screen and (min-width: 900px) {
        --page-padding-with-searchbar: 160px;
        --page-padding-with-no-searchbar: 80px;
    }

    /*shadow*/
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

    /*font*/
    font-family: 'Lexend';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::-webkit-scrollbar-track {
        width: 0px;
    }
}

/* modal components */

.full-view-modal-body>section {
    padding: 10px 0px 25px 0px;
}

.full-view-modal-body>h1 {
    padding: 30px 0px;
    font-size: x-large;
}

.full-view-modal-body>*>h1 {
    padding: 15px 0px;
    font-size: x-large;
}

.full-view-modal-body>h2 {
    padding: 20px 0px;
    font-size: large;
}

.full-view-modal-body>button {
    border: none;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.full-view-modal-body>button:hover {
    background-color: var(--background-box-hover);
}

/* dividers */

.main-divider {
    display: grid;
    width: 100%;
    border-bottom: 1px white solid;
    height: 1px;
    margin: 5px 0px;
}

.modal-divider {
    display: grid;
    border-top: 1px var(--black-300) solid;
    height: 1px;
    margin: 30px 0px;
}

/* map */

.map-icon {
    color: var(--crimson-500);
    background-color: white;
    border: 3px var(--crimson-500) solid;
    border-radius: 50%;
    padding: 5px;
    scale: 1;
}

.map-icon-label {
    font-weight: bolder;
    padding: 5px;
    color: var(--crimson-500);
    background-color: white;
    border: 2px var(--crimson-500) solid;
    border-radius: 10px;
    width: max-content;
    position: relative;
}

/* page */

.page-body-wrapper {
    width: 100dvw;
    display: grid;
    justify-items: center;
}

.page-padding-without-searchbar {
    padding-top: var(--page-padding-with-no-searchbar);
}

.page-padding-with-searchbar {
    padding-top: var(--page-padding-with-searchbar);
}

.page-body {
    width: 60%;
}

@media (max-width: 1500px) {
    .page-body {
        width: 80%;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .page-body {
        width: 90%;
        margin-top: 10px;
    }
}

/* button */

.button,
.inverse-button {
    border-radius: var(--button-border-radius);
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s;
}

.button {
    background-color: var(--background);
    border: 1px white solid;
    color: white;
}

.inverse-button {
    background-color: white;
    border: 1px var(--background) solid;
    color: var(--background);
}

.button:active,
.inverse-button:active {
    transform: scale(0.95);
}