body {
    padding: 0px;
    margin: 0px;
    height: 100dvh;
    width: 100dvh;
    background-color: var(--crimson-500);
}

* {
    padding: 0px;
    margin: 0px;
    scrollbar-width: none;
}

:root {
    /*colors*/
    --crimson-900: #20070C;
    --crimson-800: #400E17;
    --crimson-700: #801C2E;
    --crimson-600: #A0233A;
    --crimson-500: #C02A45;
    --crimson-400: #E03151;
    --crimson-300: #FF385C;

    --black-900: #000000;
    --black-800: #101010;
    --black-700: #202020;
    --black-600: #404040;
    --black-500: #606060;
    --black-400: #808080;
    --black-300: #C0C0C0;
    --black-200: #C0C0C0;
    --black-100: #E0E0E0;
    --black-50: #F0F0F0;


    /*element colors*/
    --background: var(--crimson-500);
    --text-color: white;
    --bold-text-color: var(--crimson-800);
    --background-box-hover: #f5f5f5;

    /*size*/
    --b-bar-size: 200px;
    --b-bar-size-logo: 50px;
    --box-border-radius: 15px;
    --button-border-radius: 10px;
    --fullview-modal-width: 40dvw;
    --fullview-modal-padding: 20px;

    /*shadow*/
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

    /*font*/
    font-family: 'Lexend';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::-webkit-scrollbar-track {
        width: 0px;
    }
}

/*Modal components*/
.full-view-modal-body>section {
    padding: 10px 0px 25px 0px;
}

.full-view-modal-body>h1 {
    padding: 30px 0px;
    font-size: x-large;
}

.full-view-modal-body>*>h1 {
    padding: 15px 0px;
    font-size: x-large;
}

.full-view-modal-body>h2 {
    padding: 20px 0px;
    font-size: large;
}

.full-view-modal-body>button {
    border: none;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.full-view-modal-body>button:hover {
    background-color: var(--background-box-hover);
}