<section class="home">
    <desktop-navbar>
    </desktop-navbar>
    <phone-navbar></phone-navbar>
    <div class="home-body">
        @for (stay of stays; track $index) {
        <a [routerLink]="['/room', stay.id]">
            <stay-card [city]="stay.location.city" [kingdom]="stay.location.kingdom" [name]="stay.name"
                [pricePerNight]="stay.billing.basePricePerNight" [ratings]="stay.ratings"
                [imgsUrls]="stay.imgsUrls"></stay-card>
        </a>
        }
    </div>
    <app-footer></app-footer>
</section>