.credentials {
    background-color: white;
    border: 1px var(--black-300) solid;
    border-radius: var(--box-border-radius);
    width: 30dvw;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.credentials-header {
    padding: 30px 30px 0px 30px;
    display: grid;
    place-items: center
}

.credentials-header>div {
    font-weight: bold;
}

.credentials-divider {
    display: grid;
    width: 100%;
    border-bottom: 1px var(--black-100) solid;
    height: 1px;
    margin: 5px 0px;
}

.credentials-body>form {
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.errors-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

small {
    color: var(--error-color);
}