<section id="section1">
    <div class="bookinn">
        <span class="b">
            <div class="b-bar"></div>
            <div>
                <div class="b-small-circle"></div>
                <div class="b-big-circle"></div>
            </div>
        </span>
        <span class="ookinn">
            <span class="o1">o</span>
            <span class="o2">o</span>
            <span class="k">k</span>
            <span class="I">I</span>
            <span class="n1">n</span>
            <span class="n2">n</span>
        </span>
    </div>
    <div class="pitch">
        <h1>The world is your home.</h1>
        <p>Visit the world of Orlond, a far away mystical land filled with adventure.
            Rent an inn's room and visit the beautiful landscape !</p>
    </div>
    <div class="author">
        <h1>
            By Jean-Hanna SALEH
        </h1>
        <a class="portfolio-button" [href]="portfolioURL" target="_blank">
            Check out my portfolio !
        </a>
    </div>
    <div class="rain">
        <span id="drop1"></span>
        <span id="drop2"></span>
        <span id="drop3"></span>
        <span id="drop4"></span>
        <span id="drop5"></span>
        <span id="drop6"></span>
        <span id="drop7"></span>
        <span id="drop8"></span>
        <span id="drop9"></span>
        <span id="drop10"></span>
        <span id="drop11"></span>
        <span id="drop12"></span>
        <span id="drop13"></span>
        <span id="drop14"></span>
        <span id="drop15"></span>
        <span id="drop16"></span>
        <span id="drop17"></span>
        <span id="drop18"></span>
        <span id="drop19"></span>
        <span id="drop20"></span>
    </div>
    <button class="home-button">Scroll to see more</button>
</section>