<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


<ng-template #daysOfTheMonthTemplate let-daysOfTheMonth="daysOfTheMonth">
    <div class="days">
        @for (value of daysOfTheMonth; track $index) {
        @if(value.dayOfTheMonth > 0){
        @if(value.unavailable){
        <span [ngClass]="dayWrapper" class="disabled-day">
            {{value.dayOfTheMonth}}
        </span>
        }@else {
        <span [class.start-path-day]="daysSelected[0] === value.position && daysSelected[0] < daysSelected[1]"
            [class.end-path-day]="daysSelected[1] === value.position && daysSelected[0] < daysSelected[1]"
            [class.path-day]="daysSelected[0] < value.position && value.position < daysSelected[1]">
            <span [ngClass]="dayWrapper" class="day"
                [class.selected-day]="daysSelected[0] === value.position || daysSelected[1] === value.position"
                [class.day-hover]="daysSelected[0] !== value.position && daysSelected[1] !== value.position"
                (click)="selectDate(value.position)">
                {{value.dayOfTheMonth}}
            </span>
        </span>
        }
        } @else {
        <span class="empty-day"></span>
        }
        }
    </div>
</ng-template>

<ng-template #weekTemplate>
    <div class="week">
        @for (day of week; track $index) {
        <span>
            {{day}}
        </span>
        }
    </div>
</ng-template>


<section class="calendar">
    <div class="month">
        <div class="first-month-header">
            <button [disabled]="disablePreviousMonthButton" class="previous-month" (click)="previousMonth()">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </button>
            <div class="month-label">
                {{firstMonth}} {{firstYear}}
            </div>
        </div>
        <div class="second-month-header">
            <div class="month-label">
                {{secondMonth}} {{secondYear}}
            </div>
            <button [disabled]="disableNextMonthButton" class="next-month" (click)="nextMonth()">
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
            </button>
        </div>
        <div class="month-body">
            <ng-container *ngTemplateOutlet="weekTemplate"></ng-container>
            <ng-container
                *ngTemplateOutlet="daysOfTheMonthTemplate; context: {daysOfTheMonth: daysOfTheFirstMonth}"></ng-container>
        </div>
        <div class="month-body">
            <ng-container *ngTemplateOutlet="weekTemplate"></ng-container>
            <ng-container
                *ngTemplateOutlet="daysOfTheMonthTemplate; context: {daysOfTheMonth: daysOfTheSecondMonth}"></ng-container>
        </div>
    </div>
    <button class="reset-selected-dates" [disabled]="!daysSelected[0] && !daysSelected[1]"
        (click)="resetSelectedDates()">
        Clear dates
    </button>
</section>