<ng-template #daysOfTheMonthTemplate let-daysOfTheMonth="daysOfTheMonth">
    <div class="days">
        @for (value of daysOfTheMonth; track $index) {
        @if(value.dayOfTheMonth > 0){
        @if(value.unavailable){
        <span [ngClass]="disabledColorClass" class="disabled-day" [class.day-mode-modal]="mode === 'modal'"
            [class.day-mode-normal]="mode === 'normal'">
            {{value.dayOfTheMonth}}
        </span>
        }@else {
        <span [ngClass]="[daysSelected[0] === value.position && daysSelected[0] < daysSelected[1] ? startPathDayClass : '', 
            daysSelected[1] === value.position && daysSelected[0] < daysSelected[1] ? endPathDayClass : '',
            daysSelected[0] < value.position && value.position < daysSelected[1] ? pathDayClass : '']">
            <span
                [ngClass]="[colorClass, daysSelected[0] !== value.position && daysSelected[1] !== value.position ? hoverBgClass : '']"
                class="day"
                [class.selected-day]="daysSelected[0] === value.position || daysSelected[1] === value.position"
                [class.day-mode-modal]="mode === 'modal'" [class.day-mode-normal]="mode === 'normal'"
                (click)="selectDateOnClickHandler(value.position)">
                {{value.dayOfTheMonth}}
            </span>
        </span>
        }
        } @else {
        <span class="empty-day"></span>
        }
        }
    </div>
</ng-template>

<ng-template #weekTemplate>
    <div class="week" [ngClass]="colorClass">
        @for (day of week; track $index) {
        <span>
            {{day}}
        </span>
        }
    </div>
</ng-template>


<section class="calendar" [ngClass]="bgColorClass">
    <div class="month">
        <div class="first-month-header">
            <button [disabled]="disablePreviousMonthButton" class="previous-month"
                [ngClass]="[bgColorClass, colorClass, hoverBgClass]" (click)="previousMonth()">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </button>
            <div class="month-label" [ngClass]="colorClass">
                {{firstMonth}} {{firstYear}}
            </div>
        </div>
        <div class="second-month-header">
            <div class="month-label" [ngClass]="colorClass">
                {{secondMonth}} {{secondYear}}
            </div>
            <button [disabled]="disableNextMonthButton" class="next-month"
                [ngClass]="[bgColorClass, colorClass, hoverBgClass]" (click)="nextMonth()">
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
            </button>
        </div>
        <div class="month-body">
            <ng-container *ngTemplateOutlet="weekTemplate"></ng-container>
            <ng-container
                *ngTemplateOutlet="daysOfTheMonthTemplate; context: {daysOfTheMonth: daysOfTheFirstMonth}"></ng-container>
        </div>
        <div class="month-body">
            <ng-container *ngTemplateOutlet="weekTemplate"></ng-container>
            <ng-container
                *ngTemplateOutlet="daysOfTheMonthTemplate; context: {daysOfTheMonth: daysOfTheSecondMonth}"></ng-container>
        </div>
    </div>
    <button class="reset-selected-dates" [ngClass]="resetSelectedDatesButtonColor"
        [disabled]="!daysSelected[0] && !daysSelected[1]" (click)="resetSelectedDates()">
        Clear dates
    </button>
</section>