.calendar {
    user-select: none;
    padding: 20px 0px;
    display: grid;
    grid-template-rows: auto min-content;
    gap: 20px;
    width: min-content;
}

.month {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.first-month-header,
.second-month-header {
    display: grid;
    width: 100%;
    place-items: center;
}

.first-month-header {
    grid-template-columns: min-content auto;
}

.second-month-header {
    grid-template-columns: auto min-content;
}

.month-body-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    padding-top: 15px;
}

.month-body {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 15px;
}

.previous-month,
.next-month {
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.previous-month:hover,
.next-month:hover {
    border-radius: 50%;
}

.previous-month:disabled,
.next-month:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.week,
.days {
    display: grid;
    grid-template-columns: repeat(7, auto);
    row-gap: 5px;
    width: 100%;
    place-items: center;
}

.day,
.empty-day,
.disabled-day {
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.day {
    cursor: pointer;
}

.empty-day {
    cursor: default;
}

.disabled-day {
    text-decoration: line-through;
}

.selected-day {
    background-color: var(--black-900);
    color: var(--black-100);
}

.reset-selected-dates {
    font-size: small;
    text-decoration: underline;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
    background-color: transparent;
}